.banner-hp {
.h(40);	
width: 100%;
overflow: hidden;
.bg-col(@wht);
position: relative;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
	
	.caption {
	position: absolute;
	max-width: 500px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -57px;
	padding: 10px 20px;
	.trans-bg(@blue; 0.7);
	color: @wht;
	.text-center;
		h3 {
		margin-top: 0px;
		.font-size(3);	
		}
		p {
		.font-size(2);
			br {
			display: none;	
			}	
		}	
	}
}

h1.strap-line {
.bg-col(@blue-lt);
.font-size(2.5);
.line-h(5);	
color: @wht;
text-align: center;
margin-bottom: 0px;
margin-top: 0px;
}